@page "/editartitular/{Id:int?}"
@inject ModificarTitularUseCase ModificarTitularUseCase
@inject ObtenerTitularUseCase ObtenerTitularUseCase

<h3>Modificando al titular</h3>
<input placeholder="_titular.Nombre" @bind="_titular.Nombre" class="form-control">
<input placeholder="_titular.Apellido" @bind="_titular.Apellido" class="form-control">
<input placeholder="_titular.DNI" @bind="_titular.DNI" class="form-control">
<input placeholder="_titular.Direccion" @bind="_titular.Direccion" class="form-control">
<input placeholder="_titular.Email" @bind="_titular.Email" class="form-control">
<input placeholder="_titular.Telefono" @bind="_titular.Telefono" class="form-control">
<button class="btn btn-primary" @onclick="Modificar">Modificar Titular</button>

@code
{
    [Parameter] Titular? _titular {get; set;}
    [Parameter] public int? Id {get; set;}
        protected override void OnParametersSet()
        {
            if(Id != null){
                var titularHallado = ObtenerTitularUseCase.Ejecutar(Id.Value);
                _titular = titularHallado;
            }
        }
    
    void Modificar()
    {
        ModificarTitularUseCase.Ejecutar(_titular);
        _titular = new Titular();
    }
}

