@page "/"

<PageTitle>Index</PageTitle>

<div>
    <h1>Proyecto de Seminario de Lenguajes .NET</h1>
    <h2>Autores: Vazquez Martín, Vergara Juan , Ridolfi Alejandro</h2>
</div>
<img src="/images/logo informatica unlp.png" alt="logo" width="50%">
