@inject EliminarTitularUseCase EliminarTitularUseCase
<ConfirmarAccion @ref=componenteConfirmacion  OnConfirmado="Eliminar"></ConfirmarAccion>
<button class="btn btn-danger" @onclick="ConfirmarEliminacion"><span class="oi oi-trash"></span></button> <!--boton de basura-->
@if (!string.IsNullOrEmpty(accion))
{
    <div style="color: @(mensajeClase == "success-message" ? "green" : "red")" >@accion</div>
}
@code{

    string accion="";
    string mensajeClase="";

    [Parameter]
    public Titular? titularAborrar{get;set;}
    ConfirmarAccion componenteConfirmacion=null!;
    private void Eliminar()
    {
        try{
                EliminarTitularUseCase.Ejecutar(titularAborrar.DNI);
                accion= "Eliminado correctamente";
                mensajeClase="success-message";
        }
        catch(Exception ex)
        {
            accion=ex.Message;
            mensajeClase = "error-message";
        }
        
    }
    private void ConfirmarEliminacion()
    {
        componenteConfirmacion.Mensaje=$"¿Esta seguro que desea eliminar el titular {titularAborrar?.Nombre} {titularAborrar?.Apellido}?";
        componenteConfirmacion.Mostrar();
    }
}